<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antProperties">
      <antProperty
            class="org.spoofax.debug.instrumentation.util.SpoofaxDebugAntPropertyProvider"
            name="eclipse.spoofax.debug.interfaces.jar">
      </antProperty>
      <antProperty
            class="org.spoofax.debug.instrumentation.util.SpoofaxDebugAntPropertyProvider"
            name="eclipse.spoofax.debug.interfaces.java.jar">
      </antProperty>
      <antProperty
            class="org.spoofax.debug.instrumentation.util.SpoofaxDebugAntPropertyProvider"
            name="eclipse.dsldi.java.jar">
      </antProperty>
      <antProperty
            class="org.spoofax.debug.instrumentation.util.SpoofaxDebugAntPropertyProvider"
            name="eclipse.dsldi.jar">
      </antProperty>
      <antProperty
            class="org.spoofax.debug.instrumentation.util.SpoofaxDebugAntPropertyProvider"
            name="eclipse.libdsldi.jar">
      </antProperty>
   </extension>

</plugin>
