<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.launching.vmConnectors">
      <vmConnector
            class="org.spoofax.debug.core.launching.SpoofaxSocketAttachConnector"
            id="org.spoofax.debug.core.socketattach">
      </vmConnector>
   </extension>

</plugin>
